<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <title>Event Aprobado</title>
</head>

<body style="background-image: url(https://cdn3.vectorstock.com/i/1000x1000/45/22/expressive-minimalistic-background-vector-15894522.jpg);background-repeat: no-repeat;
background-size:cover;">
<br></br>
<h1 style="color: black"> Usuario creado en NDEAAH Eventos </h1>

<b style="color: orangered"> {{ form.name.data }} </b>
<br></br>

<p> Disfrute de nuestro servicio.</p>
<p> NDEAAH Eventos </p>

</body>

</html>